<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  />
  <span>Bike travel calculator</span>
    <div class="spacer"></div>
</div>

<div class="content" role="main">

  <!-- Resources -->
  <h2>Bike point travel calculator</h2>
  <p>Insert two places for your route near London like "Wembley" and "Bromley"</p>

  <div class="card-container">
    <form [formGroup]="inputPlaces"  (ngSubmit)="searchLocations()" class="flex-form">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">From</span>
        </div>
        <input type="text" class="form-control" placeholder="Starting point" aria-label="Starting point" aria-describedby="basic-addon1"
               formControlName="start" [class.error]="inputPlaces.controls.start.invalid && inputPlaces.controls.start.touched">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon2">To</span>
        </div>
        <input type="text" class="form-control" placeholder="Destination" aria-label="Destination" aria-describedby="basic-addon1"
               [class.error]="inputPlaces.controls.end.invalid && inputPlaces.controls.end.touched" formControlName="end">
      </div>
      <div class="input-group mb-3" *ngIf="errorMessage">
          <span>{{errorMessage}}</span>
      </div>
      <div class="input-group mb-3">
        <button class="btn submit-btn" type="submit" [disabled]="!inputPlaces.valid">
          <span>Check coordinates</span>
        </button>
      </div>

    </form>


  </div>
  <div class="map-container">
    <agm-map [latitude]="londonLat" [longitude]="londonLon" [zoom]="9">
      <ng-container *ngFor="let maker of markers">
        <agm-marker *ngIf="markerEnabled" [latitude]="maker.lat" [longitude]="maker.lng"></agm-marker>
      </ng-container>
    </agm-map>
  </div>

<router-outlet></router-outlet>
